<launch>
  <node name="my_torch_tub_tf" pkg="rosdop" type="DockerTub.py" output="screen" required="true">
    <param name="name"            type="string"       value="tub1"           />
    <param name="imagename"       type="string"       value="tofu"        />
    <param name="network_name"    type="string"       value="br0"            />
    <param name="tub_volume"      type="string"       value="tubvolume1"     />
    <param name="container_hostname"        type="string"       value="tf_machine1" />
    <param name="dockerfile_directory" type="string"  value="."              />
    <param name="containerip"            type="string"  value="172.28.5.13"    />
    <param name="use_gpu"            type="bool"  value="True"    />
  </node>

</launch>
