<launch>
  <node name="" pkg="rosdop" type="cr_volume.py" output="screen">
    <param name="name" type="string" value="tubvolume0" />
    <param name="username" type="string" value="frederico" />
    <param name="sshfs_hostname" type="string" value="192.168.0.6" />
    <param name="identity_file" type="string" value="/root/.ssh/id_rsa" />
    <param name="tub_path" type="string" value="/home/frederico/whole_lavine/tub/Tch" />
    <param name="ws_path" type="string" value="/workspace/workspace" />
  </node>
  <node name="docker_master" pkg="rosdop" type="docker_master.py" output="screen"/>

</launch>
